<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADV Shop</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
<h3>Welcome</h3>
<a href="/product/list">
    <button>Go to Product List</button>
</a>
<br>
<a href="/car/listCar">
    <button>Go to Car List</button>
</a>
</body>
</html>
